.about-me {
    padding-bottom: 2rem;
    margin: 0 10px 0 0px;
}

.about-me img {
    border-radius : 3rem;
}

.title-about {
    padding-bottom: 2rem;
    text-align: center;
}
.about-me-container {
    display:flex;
    width: 900px;
}
.about-me-content {
    justify-content: end;
    width: 400px;
    font-size: 1rem;
}
