.about-me {
    padding-bottom: 2rem;
}

.about-me img {
    border-radius : 3rem;
}

.title-about {
    padding-bottom: 2rem;
    text-align: center;
}
.about-me-container {
    display:flex;

}
.about-me-content {
    text-align: center;
}
